@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes lightning-border {
  0% {
    border-color: transparent;
  }
  50% {
    border-color: #FFA726;
  }
  100% {
    border-color: transparent;
  }
}

@keyframes lightning-bg {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
  }
}

@keyframes image-lightning-bg {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}

.animate-lightning-border {
  animation: lightning-border 1.7s infinite;
}

.animate-lightning-bg {
  animation: lightning-bg 3s infinite;
}

.animate-image-lightning-bg {
  animation: image-lightning-bg 3.5s infinite;
}